backports.functools-lru-cache==1.4
cycler==0.10.0
et-xmlfile==1.0.1
get==0.0.33
jdcal==1.3
matplotlib==2.1.1
numpy==1.13.3
openpyxl==2.4.9
pandas==0.21.1
patsy==0.4.1
post==0.0.22
public==0.0.53
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
query-string==0.0.21
request==0.0.22
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
